* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.4;
}

/* 

lilla: #636270
pink: #efb4ae
lysegrå: #c2c2c2
mørkegrå: #333333
off-white: #ececec

*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 0.9;
  padding-bottom: 1rem;
  color: #333333;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 0.9;
  padding-bottom: 0.3rem;
  color: #333333;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: #333333;
}
