* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

/* 

lilla: #636270
pink: #efb4ae
lysegrå: #c2c2c2
mørkegrå: #333333
off-white: ##EFEFEF

*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 0.9;
  padding-bottom: 1rem;
  color: #333333;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 0.9;
  padding-bottom: 0.3rem;
  color: #333333;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: #333333;
}

/* knapper */

.knap_pink {
font-family: "Source Sans Pro", sans-serif;
border-radius: 10px;
background-color: #efb4ae;
border: none;
padding-inline: 1.5rem;
padding-block: 0.5rem;
cursor: pointer;
color: #333333;
}

.knap_pink:hover {
font-weight: 700;
}

.knap_lilla {
font-family: "Source Sans Pro", sans-serif;
border-radius: 10px;
background-color: #636270;
border: none;
padding-inline: 1.5rem;
padding-block: 0.5rem;
cursor: pointer;
color: #EFEFEF;
}

.knap_lilla:hover {
font-weight: 700;
}

/* top-bar */

.topbar {
height: 5vh;
width: 100%;
background-color: #636270;
}

.topbar p {
color: #EFEFEF;
text-align: center;
padding-top: 0.4rem;
}

/* navigation */

nav {
height: 15vh;
width: 100%;
}

/* footer */

footer {
height: 35vh;
width: 100%;
background-color: #EFEFEF;
}