@media (min-width: 600px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-bottom: 30px;
  }
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col :last-child {
  margin-top: auto;
}

nav {
  height: 25vh;
  width: 100%;
  background-color: #efefef;
  margin-bottom: 2rem;
}

/* footer */

footer {
  height: 45vh;
  width: 100%;
  background-color: #efefef;
  padding-top: 50px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  color: #333333;
  padding: 2px;
}

img {
  max-width: 100%;
}

main p {
  font-size: larger;
  color: #333333;
  line-height: 1.8;
}

main h2 {
  margin-bottom: 6px;
}

footer h3 {
  color: #333333;
  margin-bottom: 20px;
  margin-left: 35%;
}

footer p {
  color: #333333;
  margin-left: 35%;
  font-family: "Quicksand", sans-serif;
  line-height: 1.8;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}
