main p {
  line-height: 1.8;
  margin-bottom: 1rem;
  }

.grid_om {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 70%;
  margin-block: 5rem;
  gap: 1rem;
}

.selfie {
margin-bottom: 2rem;
}
