img {
  width: 100%;
  height: auto;
  display: block;
}

.splash {
  max-width: none;
  background-image: url(../images/hero.webp);
  height: 50vh;
  width: 100%;
  background-size: cover;
  padding: 1rem 1rem 3rem 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2rem;
}

.gallery img {
  margin-bottom: 0.5rem;
}

.product {
  padding: 1rem 1rem 3rem 1rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.normalpris {
  opacity: 0.3;
}
